body {
  justify-content: center;
  background-color: black;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.main{
  padding-top:69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
